body {
  overflow: hidden;
  font-family: sans-serif;
  color: black;
  margin: 0;
  font-size: 20px;
}

.title {

}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.gray {
  color: gray;
}

.small {
  font-size: 10px;
}

.App {
  width: 900px;
  margin: auto;
}

.Interpretations {
  border: 1px solid black;
}

.InterpretationEntry {
  width: 90%;
  box-shadow: 1px 1px 1px 1px black;
  margin: auto;
  margin-bottom: 15px;
}

.Triggers, .Responses {
  display: inline-block;
  box-sizing: border-box;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
}